
# dotenv file
.env

# Mac OS artifacts
.DS_Store

# NPM dependencies
node_modules

# Build output
dist

# Test coverage
coverage

# Yarn 2 files
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
